* {
  font-family: 'Baskervville', serif;
}
body {
  margin: 0;
}

/**************************************   Sign up/ Login   **********************************/

#homeH3 {
  margin: 0;
}

#landingPageDiv {
  background-color: red;
}

/**************************************   Sign up/ Login   **********************************/

